@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Black.woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Light.woff2);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Medium.woff2);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Thin.woff2);
  font-weight: 100;
  font-style: normal;
}

html {
  color: white;
  font-family: "Roboto", "Times New Roman";
  box-sizing: border-box;
}

header, section {
  height: 100vh;
}

/* Menu */

.item-list {
  margin-bottom: 31px;
  font-size: 1.40rem;
  list-style-type: none;
}

.item-list > a {
  text-decoration: none;
  color: white;
}

.item-list:before {
  content: '';
  background: lightgray;
  border-radius: 1ch;
  padding-inline: 1ch;
  margin-inline-end: 1ch;
}

.item-list:last-child {
  margin-bottom: 0px;
}

/* Menu hover effect (Home) */
.header-menu__item-list > a:hover {
  color: #FF5E5E;
}

.header-menu__item-list:hover:before {
  content: '';
  background: #FF5E5E;
}

/* Menu hover effect (About me) */
.about-me-menu__item-list > a:hover {
  color: #0064FF;
}

.about-me-menu__item-list:hover:before {
  content: '';
  background: #0064FF;
}

header {
  background: linear-gradient(242.41deg, #2B2642 0%, #60272B 100%);
}

.header__top {
  margin-bottom: 20vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__logo-img {
  width: 200px;
  max-width: 100%;
}

.menu-container {
  display: flex;
}

.main-content {
  flex-grow: 3;
}

.title {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  font-weight: 900;
}

.page-title {
  margin-bottom: 48px;
}

.page-subtitle {
  text-align: center;
}

#about-me {
  background-color: #152431;
}

.about-me__container, .locate__container {
  display: flex;
  height: 100%;
  align-items: center;
}

.about-me__title, .locate__title  {
  margin-bottom: 81px;
}

.main-text {
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: justify;
}

.about-me__container, .locate__container {
  gap: 58px;
}

.main-paragraph:not(:last-child), iframe {
  margin-bottom: 20px;
}

.about-me__main-content, .locate__main-content {
  height: 80%;
  overflow-y: scroll;
}

#locate {
  background: #375099;
}

#conclusion {
  background: #D73E4D;
}