@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Black.woff);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.woff2);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.woff2);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Thin.woff2);
  font-weight: 100;
  font-style: normal;
}

html {
  color: white;
  font-family: "Roboto", "Times New Roman";
  box-sizing: border-box;
  font-size: 16px;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

a {
  color: #fff;
  text-decoration: none;
}

header, section {
  height: 100vh;
  scroll-snap-align: start;
}

/* Menu */

.item-list {
  margin-bottom: 31px;
  font-size: 1.40rem;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.item-list:before {
  content: '';
  background: lightgray;
  border-radius: 1ch;
  padding-inline: 1ch;
  margin-inline-end: 1ch;
}

.item-list:last-child {
  margin-bottom: 0px;
}

/* Menu hover effect (Home) */
.header-menu__item-list > a:hover {
  color: #FF5E5E;
}

.header-menu__item-list:hover:before {
  content: '';
  background: #FF5E5E;
}

/* Menu hover effect (About me) */
.about-me-menu__item-list > a:hover {
  color: #0064FF;
}

.about-me-menu__item-list:hover:before {
  content: '';
  background: #0064FF;
}

/* Menu hover effect (About me) */
.data-protection-menu__item-list > a:hover {
  color: #FF0000;
}

.data-protection-menu__item-list:hover:before {
  content: '';
  background: #FF0000;
}

header {
  background: linear-gradient(242.41deg, #2B2642 0%, #60272B 100%);
}

.header__top {
  margin-bottom: 20vh;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header__logo-img {
  width: 200px;
  max-width: 100%;
}

.menu-container {
  display: flex;
}

.main-content {
  flex-grow: 3;
}

.title {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  font-weight: 900;
}

.page-title {
  margin-bottom: 48px;
}

.page-subtitle {
  font-size: 1.25rem;
  text-align: center;
}

#about-me {
  background-color: #152431;
}

.about-me__container,
.locate__container,
.conclusion__container,
.data-protection__container {
  display: flex;
  height: 100%;
  align-items: center;
}

.about-me__title, .locate__title  {
  margin-bottom: 81px;
}

.main-text {
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: justify;
}

.about-me__container,
.locate__container,
.conclusion__container,
.data-protection__container {
  gap: 58px;
}

.main-paragraph:not(:last-child), iframe {
  margin-bottom: 20px;
}

.about-me__main-content,
.locate__main-content,
.conclusion__main-content {
  height: auto;
  overflow-y: auto;
}

#locate {
  background: #375099;
  scroll-snap-align: start;
}

#conclusion {
  background: #D73E4D;
}

.conclusion-topics-subtitle {
  font-size: 1.8rem;
  margin-bottom: 29px;
}

.conclusion__title {
  margin-bottom: 156px;
}

.conclusion-topic {
  margin-bottom: 72px;
}

.conclusion-main-text {
  font-size: 1.4rem;
  display: block;
  margin-bottom: 15px;
  text-align: center;
}

#data-protection {
  height: auto;
  color: #000;
  padding-top: 80px;
  line-height: 1.7rem;
  text-align: justify;
}

.data-protection__title {
  color: #000;
  text-align: left;
  margin-bottom: 63px;
}

.data-protection__subtitle, .data-protection__general-subtitle {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 63px;
}

.title-h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

.data-protection__main-text {
  font-size: 1.25rem;
  font-weight: 200;
  line-height: 1.7rem;
}

.data-protection__general-title {
  margin-bottom: 34px;
}

.data-protection__main-text {
  margin-bottom: 26px;
}

.data-protection__title-topic {
  margin-bottom: 34px;
}

.data-protection__general-text {
  margin-bottom: 56px;
}

.main-text_strong {
  font-weight: 400;
  margin-bottom: 24px;
}

.data-protection__general-and-mandatory-list {
  list-style-type: disc;
  padding-left: 70px;
}

.data-protection__menu-list {
  position: sticky;
  align-self: flex-start;
  top: calc(40vh - 80px);
}

.data-protection-menu__item-link {
  color: #000;
}